.addproduct {
  width: 600px;
  background-color: rgb(233, 233, 233);
  height: 500px;
}
.addproduct__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
