.formStyle__heading {
  font-family: Arial, Helvetica, sans-serif;
}
.formStyle__input {
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border: 1px solid gray;
  width: 220px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-right: 10px;
  margin-left: 10px;
}
.formStyle__button {
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gray;
  font-family: "Times New Roman", Times, serif;
  margin-right: 10px;
  margin-left: 10px;
}
.formStyle__input:focus {
  outline: none;
}
.formStyle__select {
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  border: 2px solid gray;
  width: 120px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-right: 10px;
  margin-left: 10px;
}
.formStyle__select:focus {
  outline: none;
}
